/* *{
    border: 1px black solid;

} */

header{
    background-color: cyan;
}

.hd{
    display: grid;
    grid-template-columns: 15% 15% 60% 10%;
    background-color: gold;
}

.main_logo{
    margin: 20px;
}

.logfont{
    color: white;
}

.signup{
    border-radius: 20px black solid;
}

.bg_nav_top{
    background-color: green;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 10px;
}

.navtop{
    list-style: none;
    display: inline;
    border: 1px black solid;
    margin: 10px;
}

.newslet{
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: red;
    margin: 20px;
}

ul{
    text-align: center;
}

nav > ul > li{
    display: inline;
    list-style: none;
}

main{
    background-image: url(images/noisepattern.png);
}

body{
    background-color: black;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
}

.foot{
    background-color: red;
}

.principal{
    padding: 200px;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

div > ul >li{
    list-style: none;
}

.out{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


